*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: snow;
    margin: 0 auto;
    width: 100%;
}

#all{
    margin: 0 auto;
    height: auto;
}

header{
    position: fixed;
    display: inline-block;
    z-index: 100;
    width: 100%;
    background-color: #152348;
    margin-bottom: 50px;
    height: 235px;
    margin-top: -12%;
}

header img{
    width: 10%;
    float: left;
    margin: 20px 23px 10px 23px;
}

header h1{
    margin-top: 15px;
    padding-top: 4%;
    padding-left: 300px;
    font-size: 55px;
    color: white;
}

nav{
    height: 50px;
    padding: 50px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    margin-top: -110px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 1% 2%;
}

.menu a:hover{
    background-color: white;
    color: #152348;
}


.productes{
    width: 100%;
    height: auto;
    margin-top: 11%;
    border: 1px solid black;
    background-color: #E2E5E7;
}

.productes h2{
    margin: 50px;
    font-size: 50px;
    color:  #3393DE;

}

#miInput{
    background-position: 10px 10px;
  background-repeat: no-repeat;
  /* width: 100%; */
  width: 250px;
  font-size: 16px;
  padding: 10px 15px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-left: 12px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.btn{
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover{
    background-color: #ddd;
}

.btn.active{
    background-color: #666;
    color: white;
}

.show{
    display: block;
}

footer{
    padding: 1.5% 0;
    width: 100%;
    background-color: #152348;
    margin: 0 auto;
    height: 100px;
}

.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -20px;
    margin-right: 20px;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

.fa{
    padding: 8px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.sobreempresa{
    color: #d39c2f;
    margin-top: -6.7%;

}

.sobreempresa ul{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 55px;
    font-size: 20px;
    height: auto;
    width: auto;
}

.sobreempresa li{
    height: auto;
    width: auto;
    margin-bottom: 5px;
}

.sobreempresa a{
    text-decoration: none;
    color: #d39c2f;
    margin-top: -13%;
}

.titolfooter {
    background-color: white;
    color: black;
    width: 130px;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}



/***************/
/*MEDIA QUERIES*/
/***************/

/*MÒBIL*/

@media screen and (max-width: 600px){
    #all{
        width: 100%;
    }
    
    header{
        position: fixed;
        display: inline-block;
        z-index: 100;
        width: 100%;
        background-color: #152348;
        margin-bottom: 50px;
        height: 162px;
        margin-top: -25%;
    }
    
    header img {
        width: 110px;
        margin-top: 0%;
    }
    
    header h1 {
        margin-top: 7%;
        padding-left: 33%;
        font-size: 38px;
        color: white;
    }
    
    body{
        margin-top: 0px;
        width: 100%;
    }
    
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
        margin-top: -38px;
        margin-right: 25%;
        }

    .menu a{
        text-decoration: none;
        color: white;
        padding: 2% 4%;
    }

    .menu a:hover{
        background-color: white;
        color: #152348;
    }
    
    .productes {
        width: 100%;
        height: auto;
        margin-top: 21%;
        border: 1px solid black;
        background-color: #E2E5E7;
    }
    
    footer{
        padding: 1.5% 0;
        width: 100%;
        background-color: #152348;
        margin: 0 auto;
        height: 124px;
    }

    .social{    
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -5px;
        margin-right: 5px;
    }

    .fa{    
        padding: 7px 0px;
        font-size: 20px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa:hover{
        opacity: 0.7;
    }

    .fa-facebook{
        background: #3B5998;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .sobreempresa{
        color: #d39c2f;
        margin-top: -24%;

    }

    .sobreempresa ul{
        list-style: none;
        display: inline-block;
        margin-top: 35px;
        margin-left: 22px;
        font-size: 15px;
        height: auto;
        width: auto;
    }

    .sobreempresa li{
        height: auto;
        width: auto;
        margin-bottom: 5px;
    }

    .sobreempresa a{
        text-decoration: none;
        color: #d39c2f;
        margin-top: -13%;
    }

    .titolfooter {
        background-color: white;
        color: black;
        width: 130px;
        border-radius: 5px;
        padding: 3px;
        margin-bottom: 10px;
    }
}