*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



body{
    background-color: snow;
    margin: 0 auto;
    width: 100%;
    /* text-align: center; */
}

#all{
    margin: 0 auto;
    /* width: 80%; */
    height: auto;
}
header{
    padding: 2.5%;
    display: inline-block;
    z-index: 100;
    width: 100%;
    background-color: #152348;
    margin: 0 auto;
    height: 200px;
}

header img{
    width: 12%;
    height: 12%;
    float: left;
}

header h1{
    padding-top: 5%;
    font-size: 40px;
    color: white;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    margin-top: -60px;
}

nav{
    height: 50px;
    padding: 50px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 1% 2%;
}

.menu a:hover{
    background-color: white;
    color: #152348;
}



.container{
    background-color: #E2E5E7 ;
    width: 100%;
    border: 1px solid black;
    padding: 2.5%;
    /* height: auto; */
    display: inline-block;
    text-align: center;
    margin: auto;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 500px;
    height: 550px;
}

ul.slider li{
    position: absolute;
    left: 0px;
    top: 0xp;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #E2E5E7 ;
}

ul.slider li img{
    width: 1000px;
    max-height: 550px;
    height: auto;
    overflow: hidden;
    object-fit: cover;    
    margin-left: 5%;
    /* margin-right: 85%; */
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.nav_slide{
    text-align: center;
    margin: 10px;
    margin-bottom: -20px;
    display: flex;
    justify-content: start;
    /* margin-left: -1200px; */
}

.info{
    border: 1px solid red;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    margin-left: 60%;
    margin-top: -550px;
}
.info h2{
    font-size: 50px;
    color: #3393DE;
}

.info p{
    margin: 20px;
    text-align: start;
    color: #636668;
}

.info button{
    margin-left: -75%;
    margin-top: 40px;
    font-size: 30px;
    background-color: #C33838;
    color: white;
    border: 0;
    padding: 15px;
    cursor: pointer;
    border-radius: 50px;
}

.nav_slide li{
    display: inline-block;
    text-align: center;
}

.nav_slide li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}